.animals {
  width: 1000px;
  margin: 0 auto;
}
.animals__container {
  display: flex;
  gap: 20px;
  width: 100%;
  padding: 50px;
}

.animals__card {
  width: 20%;
  text-align: center;
  background-color: rgb(254, 214, 161);
  padding: 15px;
}

.animals__image {
  width: 100%;
}